<h1>List of Problems</h1>
<hr>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Difficulty</th>
      <th>Region</th>
      <th width="10%">Controls</th>
    </tr>
  </thead>

  <tbody>
    <% @problems.each do |problem| %>
      <tr>
        <td><%= problem.id %></td>
        <td><%= problem.name %></td>
        <td><%= problem.difficulty %></td>
        <td><% if problem.region == nil %>Nowhere<% else %><%= problem.region.name %><% end %></td>
        <td>
          <%= link_to controller: "test_cases", action: "problem", id: problem.id do %>
          <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> View
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @problems, renderer: BootstrapPagination::Rails %>
<br>
<br>

<%= link_to 'New Problem', new_admin_problem_path, class: 'btn btn-default' %>
