<h3>Password Reset Notification</h3>

<p>Hello,</p>

<p>In order to reset your password, please go to the link below:</p>

<p><a href="<%= reset_password_url %>?reset_code=<%= @reset_code %>&id=<%= @user.id %>"><%= reset_password_url %>?reset_code=<%= @reset_code %>&id=<%= @user.id %></a></p>

<p>Wishing you the best of luck,</p>

<p>Team ComputeAid</p>
