<br><br>

<div class="panel panel-default" style="padding: 20px 40px 50px 40px;">
  <h1>Forgot Password</h2>
  <hr>

  <% if notice != nil %>
    <div class="alert alert-info" role="alert"><%= notice %></div>
  <% end %>
  <br>

  <% if @message == nil %>
  <p>Please enter your e-mail address. We will send you an e-mail with further instructions.</p>
  <% elsif notice != nil %>
  <div class="alert alert-info" role="alert"><%= notice %></div>
  <% else %>
  <div class="alert alert-info" role="alert"><%= @message %></div>
  <% end %>
  <br>

  <%= form_tag forgot_password_path do %>
    <b>Email:</b>
    <%= text_field_tag 'email', nil, class: 'form-control' %>
    <br><br>
    
    <input type="submit" value="Shoot me an email" class="btn btn-success">
  <% end %>
</div>
