<br><br>

<div class="panel panel-default" style="padding: 20px 40px 50px 40px;">
  <h1>Forgot Password</h2>
  <hr>

  <% if @user.errors.any? %>
    <div class="alert alert-danger">
      <b><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</b>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form_for @user, url: reset_password_path do |f| %>
    <b>E-mail:</b>
    <%= f.text_field :email, class: 'form-control', readonly: true %>
    <br><br>

    <b>Username:</b>
    <%= f.text_field :username, class: 'form-control', readonly: true %>
    <br><br>

    <b>New Password:</b>
    <%= f.password_field :password, class: 'form-control', required: true %>
    <br><br>

    <b>Confirm New Password:</b>
    <%= f.password_field :password_confirmation, class: 'form-control', required: true %>
    <br><br>

    <%= f.hidden_field :id %>
    
    <input type="submit" value="Change Password" class="btn btn-success">
  <% end %>
</div>
