<h1>Game Manager</h1>
<hr>

<% if params[:notice] != nil %>
  <div class="alert alert-success" role="alert"><b>Success!</b> <%= raw params[:notice] %></div>
<% end %>

<br>

<% if not @game_active %>

<div class="row">
  <div class="col-xs-12 col-md-8">
    <b>Start Game</b>
    <p>This will perform the following tasks:

      <ul>
        <li>Freeze the number of regions or zones.</li>
        <li>Enable the zone scheduler.</li>
        <li>Enable the scoring scheduler.</li>
      </ul>

      In case you have not perfomed the assignment of problems to regions, they will be automatically assigned during this step. Make sure you have as many regions as you need before this.
  </div>
  <div class="col-xs-6 col-md-4">
    <br>
    <%= link_to 'Start Game', {controller: :game_manager, action: :start}, data: { confirm: "Are you sure?" }, class: 'btn btn-success', style: 'width: 100%' %>
  </div>
</div>

<% else %>

<div class="row">
  <div class="col-xs-12 col-md-8">
    <b>Monitor game status</b>
    <p>
      Check which problems will be recycled for the next round. Contains information about problems that are required by the system but are still missing on the back end.
    </p>

    <p><i>Current status:</i> <% if @need.values.inject(:+) > 0 %>Action Required<% else %>No Action Required<% end %></p>
  </div>
  <div class="col-xs-6 col-md-4">
    <br>
    <%= link_to 'Monitor Game Status', {controller: :game_manager, action: :status}, class: 'btn btn-primary', style: 'width: 100%' %>
  </div>
</div>

<br><br>

<div class="row">
  <div class="col-xs-12 col-md-8">
    <b>Manually change active zone</b>
    <p>
      In case the zone scheduler is not enabled or buggy, you can manually change the active zone.<br>
      <b>Warning!</b> This will erase all progress made on the next zone.
    </p>

    <p><i>Current zone:</i> <%= @current_zone.name %></p>
  </div>
  <div class="col-xs-6 col-md-4">
    <br>
    <%= link_to 'Change Active Zone', {controller: :game_manager, action: :change_active_zone}, class: 'btn btn-primary', style: 'width: 100%' %>
  </div>
</div>

<% end %>

<br><br>

<div class="row">
  <div class="col-xs-12 col-md-8">
    <b><%= if @zone_scheduler_enabled then 'Disable' else 'Enable' end %> zone scheduler</b>
    <p>Toggle the state of the active zone scheduler.</p>

    <p><i>Last run:</i> <%= @zone_scheduler_last_run %></p>
  </div>
  <div class="col-xs-6 col-md-4">
    <br>
    <%= link_to (if @zone_scheduler_enabled then 'Disable' else 'Enable' end) + ' zone scheduler', {controller: :game_manager, action: :toggle_zone_scheduler}, class: 'btn btn-' + (if @zone_scheduler_enabled then 'danger' else 'success' end), style: 'width: 100%' %>
  </div>
</div>

<br><br>

<div class="row">
  <div class="col-xs-12 col-md-8">
    <b><%= if @zone_scheduler_enabled then 'Disable' else 'Enable' end %> scoring scheduler</b>
    <p>Toggle the state of the scoring scheduler.</p>

    <p><i>Last run:</i> <%= @scoring_scheduler_last_run %></p>
  </div>
  <div class="col-xs-6 col-md-4">
    <br>
    <%= link_to (if @scoring_scheduler_enabled then 'Disable' else 'Enable' end) + ' scoring scheduler', {controller: :game_manager, action: :toggle_scoring_scheduler}, class: 'btn btn-' + (if @scoring_scheduler_enabled then 'danger' else 'success' end), style: 'width: 100%' %>
  </div>
</div>

<br><br>
