<h1>World Map</h1>
<hr>

<div id="map">
  <% @zones.each do |zone| %>
  <div class="marker<%= if zone.active then ' active' else '' end %>  zone<%= zone.id %>" style="top: <%= zone.y %>px; left: <%= zone.x %>px;" data-name="<%= zone.name %>" data-id="<%= zone.id %>"></div>
  <% end %>

  <div class="location"><%= @active_zone.name %></div>
  <div class="info_box zone<%= @active_zone.id %>">
    <% if current_user.gender == 'male' %>
    <%= image_tag 'boy_sprite.gif', class: 'avatar' %>
    <% else %>
    <%= image_tag 'girl_sprite.gif', class: 'avatar' %>
    <% end %>

    <div class="info_area">
      <b class="header">Trainer Info</b><br>

      <% if @active_zone.user == nil %>
      <b>Nobody</b> has been victorious against this gym leader yet!
      <% elsif @active_zone.user == current_user %>
      <% level = current_user.level(@active_zone) %>
      <b>You</b>, a <b><% if level == 0 %>Newbie<% else %>Lv. <%= level %><% end %></b> Trainer are in control of this zone!
      <% else %>
      <% level = @active_zone.user.level(@active_zone) %>
      <b><%= @active_zone.user.username.titleize %></b>, a <b><% if level == 0 %>Newbie <% else %>Lv. <%= level %><% end %></b> Trainer is in control of this zone!
      <% end %><br><br>

      <b class="header">Challenge Info</b><br>
      <% unless @active_zone.has_more_problems_for(current_user) %>
      The gym leader whited out... Doesn't seem like he'll be back!
      <% else %>
      <% prob = Problem.where(active: true, region: @active_zone, difficulty: current_user.level(@active_zone) + 1)[0] %>
      Take on the gym! Your <b>Lv. <%= current_user.level(@active_zone) + 1 %></b> Problem is <%= link_to truncate(prob.name, length: 17), prob %>.
      <% end %>
    </div>
  </div>

  <% @zones.each do |zone| %>
  <% if not zone.active %>
  <div class="info_box zone<%= zone.id %>" style="display: none;">
    <img src="http://sprites.pokecheck.org/t/000.gif" class="avatar">

    <div class="info_area">
      <b class="header">Trainer Info</b><br>

      <% if zone.user == nil %>
      <b>Nobody</b> has been victorious against this gym leader yet!
      <% elsif zone.user == current_user %>
      <% level = current_user.level(zone) %>
      <b>You</b>, a <b><% if level == 0 %>Newbie<% else %>Lv. <%= level %><% end %></b> Trainer are in control of this zone!
      <% else %>
      <% level = zone.user.level(zone) %>
      <b><%= zone.user.username.titleize %></b>, a <b><% if level == 0 %>Newbie<% else %>Lv. <%= level %><% end %></b> Trainer is in control of this zone!
      <% end %><br><br>

      <b class="header">Challenge Info</b><br>
      <% unless zone.has_more_problems_for(current_user) %>
      The gym leader whited out... Doesn't seem like he'll be back!
      <% else %>
      This gym leader seems to be away right now...
      <% end %>
    </div>
  </div>
  <% end %>
  <% end %>
</div>

<script>
  $(function() {
    $('.marker').on('mouseover', function() {
      $('.location').html($(this).data('name'));

      $('.info_box').hide();
      $('.info_box.zone' + $(this).data('id')).show();

      $('.marker.active').removeClass('active');
      $('.marker.zone' + $(this).data('id')).addClass('active');
    });
  });
</script>
