<h1>Viewing User</h1>
<hr>

<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @user.username.titleize %>
</p>

<p>
  <strong>Email:</strong>
  <a href="mailto:<%= @user.email %>"><%= @user.email %></a>
</p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>College:</strong>
  <%= @user.college %>
</p>

<p>
  <strong>Admin:</strong>
  <%= if @user.is_admin then "Yes" else "No" end %>
</p>

<br>

<%= link_to 'Edit User', edit_admin_user_path(@user), class: 'btn btn-default' %>
<%= link_to 'Back to list of Users', admin_users_path, class: 'btn btn-default' %>
