<!DOCTYPE html>
<html>
<head>
  <title>Game of Zones</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body onload="prettyPrint()">

  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="<%= root_path %>">Game of Zones</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <% if current_user != nil %>
          <li<%= raw ' class="active"' if controller_name == "zones" %>>
            <a href="<%= zones_path %>">World Map <span class="sr-only">(current)</span></a>
          </li>
          <li<%= raw ' class="active"' if controller_name == "problems" %>>
            <a href="<%= problems_path %>">Problems <span class="sr-only">(current)</span></a>
          </li>
          <li<%= raw ' class="active"' if controller_name == "runs" %>>
            <a href="<%= runs_path %>">My Runs <span class="sr-only">(current)</span></a>
          </li>
          <li<%= raw ' class="active"' if controller_name == "users" %>>
            <a href="<%= users_path %>">Leaderboard</a>
          </li>
          <% if current_user.is_admin %>
          <li>
            <a href="<%= admin_path %>" target="_blank">Admin Panel</a>
          </li>
          <% end %>
          <% else %>
          <li<%= raw ' class="active"' if controller_name == "sessions" %>>
            <a href="<%= login_path %>">Login</a>
          </li>

          <li<%= raw ' class="active"' if controller_name == "users" %>>
            <a href="<%= login_path %>?register=true">Register</a>
          </li>
          <%end %>
          <li>
            <a href="http://edg.co.in/content/pdfs/42.pdf" target="_blank">Event Rules</a>
          </li>
          <% if current_user != nil %>
          <li>
            <a href="<%= logout_path %>">Logout</a>
          </li>
          <% end %>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

  <div class="container">

    <%= yield %>

  </div>

</body>
</html>
